<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{htmlWebpackPlugin.options.title}}</title>
    {{!-- <meta name="description" content="{{htmlWebpackPlugin.options.meta.description}}" /> --}}
  </head>
  <body>
    <div>{{htmlWebpackPlugin.options.x}}</div>
  </body>
</html>
